<h1 id='name'><%= @station.name %></h1>
<p id='address'>Address: <%= @station.address %></p>
<p id='fuel_type'>Fuel Type: <%= @station.fuel_type %></p>
<p id='access_times'>Access Times: <%= @station.access_times %></p>
<p>Directions: <%= @directions %></p>
<p>Distance: <%= @distance %></p>
